/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  color: #373737;
  background: #333399;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
body.wiki-index-html {
  /* hack to prevent blue flashbang */
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 600;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  padding-bottom: 10px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

p {
  margin: 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img:not(.img-no-styling) {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  -ms-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

:not(li) > ul, ol, dl { /* HACK */
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
  border-bottom: 1px solid #8c8b8b;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #373737;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  code, pre {
    min-width: calc(100%/1.5);
    max-width: 100%;
    font-size: 0.8em;
  }
}

.outer {
  width: 100%;
}

.inner {
  min-width: calc(100%/1.5);
  max-width: 62.5%;
  margin: 0 auto;
  padding: 20px 10px;
}

#main_header p {
  font-size: 1.125em;
  margin: 0;
  margin-bottom: 5px;
}

.home-link {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 2px;
}

#linkwiki {
  background-color: green;
}
#linktracker {
  background-color: purple;
}
#linkproject {
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  padding-right: 50px;
}

#header_wrap {
  background: #333399;
  background: -moz-linear-gradient(top, #373737, #333399);
  background: -webkit-linear-gradient(top, #373737, #333399);
  background: -ms-linear-gradient(top, #373737, #333399);
  background: -o-linear-gradient(top, #373737, #333399);
  background: linear-gradient(to bottom, #373737, #333399);
  margin: 0;
  padding: 0;
}

#header_wrap .inner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_wrap .inner > :nth-child(1) {
  text-align: center;
  flex-basis: 200px;
}
#header_wrap .inner > :nth-child(1) > img {
  width: 90px;
  height: auto;
  margin: auto;
}

#header_wrap .inner > :nth-child(2) > :is(h1, h2) {
  padding-bottom: 0;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #fafacf;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#footer_wrap {
  background: #000066;
}

.align-center,
table.align-center > tbody > tr > th,
table.align-center > tbody > tr > td {
  text-align: center;
}
#main_header {
  text-align: center;
  padding: 5px 6.25%;
}
.subtitle-mute {
  font-size: 16px;
  color: grey;
}

/*
This should never be used
table.hide-table-appearence,
table.hide-table-appearence > tbody > tr > th,
table.hide-table-appearence > tbody > tr > td {
  border: none;
}
*/

.page-content-flex {
  display: flex;
  margin: auto;
  width: 90%;
  max-width: 62.5em;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.index-flex {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.index-flex > div:nth-child(1) {
  flex: 0 0 auto;
}
@media (max-width: 720px) {
  .index-flex {
    flex-direction: column;
  }
  .index-flex > div:nth-child(1) {
    order: 2;
  }
  .index-flex > div:nth-child(2) {
    order: 1;
  }
}

.index-demos > thead {
  display: none;
}
.index-demos > tbody > tr:nth-child(odd) > td {
  max-width: calc(100%/3);
}
.index-demos > tbody > tr:nth-child(odd) > td img {
  max-width: 90%;
}

.home-links {
  border: 0;
  margin-left: auto;
  margin-right: auto;
}
.home-links > thead {
  display: none;
}
.home-links > tbody > tr > td {
  border: 0;
}

h4.release-date {
  font-weight: normal;
}
.latest-release-text {
  color: red;
}
.release-date-text {
  color: green;
}

.wiki-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wiki-flex > div:nth-child(2) {
  display: contents;
  flex-grow: 1;
}