[Desktop Entry]
Name=DOSBox-X
GenericName=DOS Emulator
GenericName[ca]=Emulador DOS
GenericName[de]=DOS Emulator
GenericName[es]=Emulador DOS
GenericName[fr]=Émulateur DOS
GenericName[nl]=DOS Emulator
GenericName[pl]=Emulator DOS
GenericName[pt]=Emulador DOS
GenericName[ru]=Эмулятор DOS
GenericName[it]=DOS emulatore
GenericName[ja]=DOS エミュレータ
GenericName[ua]=Емулятор DOS
GenericName[zh_CN]=DOS 模拟器
GenericName[zh_TW]=DOS 模擬器
Comment=An enhanced x86/DOS emulator with sound/graphics
Comment[ca]=Executeu antigues aplicacions DOS
Comment[de]=Ein Emulator für alte DOS Programme
Comment[es]=Un emulador para ejecutar antiguas aplicaciones DOS
Comment[fr]=Un émulateur pour les anciennes applications DOS
Comment[nl]=Een emulator om oude DOS-spellen te spelen
Comment[pl]=Emuator dla starych aplikacji DOS
Comment[pt]=Emulador para aplicativos DOS antigos
Comment[ru]=Запуск старых DOS-приложений
Comment[it]=Un emulatore per far girare vecchi giochi DOS
Comment[ua]=Запуск старих DOS-застосувань
Exec=dosbox-x
Icon=dosbox-x
Terminal=false
Type=Application
Categories=Game;Emulator
Keywords=PCjr;Tandy;PC98;PC-98
