
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head_common.html %}

    <meta name="description" content="{{ site.blog.description }}">

    <title>
      {%- if page.title == blank -%}
        {{ site.blog.title }}
      {%- else -%}
        {{ page.title }} - {{ site.blog.title }}
      {%- endif -%}
    </title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        {% include header.html %}
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" style="background-color: #fafacf">
        <div style="text-align: center">
            {{ content }}
        </div>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        {% include footer.html %}
    </div>

  </body>
</html>
