###############################################################################
# dosbox-x
###############################################################################

# NOTE: VS ignores from https://github.com/github/gitignore is in vs/.gitignore

# build artifacts
bin
obj

# autoconfig nonsense
config.h.in
Makefile.in
aclocal.m4
configure
compile
config.guess
config.sub
depcomp
install-sh
missing

*~
dosbox-x.app/
dosbox-x.app/*
dosbox.icns
dosbox.iconset/
dosbox.iconset/*
autom4te.cache/
autom4te.cache/*
.DS_Store

windows-installer/DOSBox-X-standalone-*
windows-installer/DOSBox-X-setup-*.exe
windows-installer/DOSBox-X-setup-*.zip

make-rpm.sh
contrib/linux/dosbox-x.spec
contrib/linux/com.dosbox_x.DOSBox-X.metainfo.xml

\!DosBox-X/*,ff8
\!DosBox-X/CHANGELOG,fff
\!DosBox-X/resources/*

*.o
*.a
*.la
*.deps
/src/dosbox-x
/src/dosbox-x.exe
Makefile
config.h
config.status
stamp-h1

# macOS Universal Binary intermediates
/src/dosbox-x-arm64
/src/dosbox-x-x86_64

doxygen
doxygen/*

vs/sdl/linux-host
vs/sdl/linux-host/*

vs/sdl/linux-build
vs/sdl/linux-build/*

vs/sdl/include/SDL_config.h

vs/zlib/linux-host
vs/zlib/linux-host/*

vs/zlib/linux-build
vs/zlib/linux-build/*

vs/libpng/linux-host
vs/libpng/linux-host/*

vs/libpng/linux-build
vs/libpng/linux-build/*

/vs/freetype/linux-build
/vs/freetype/linux-host

/vs/sdl2/linux-build
/vs/sdl2/linux-host

/vs/libpdcurses/wincon/xmas.exe
/vs/libpdcurses/wincon/worm.exe
/vs/libpdcurses/wincon/tuidemo.exe
/vs/libpdcurses/wincon/testcurs.exe
/vs/libpdcurses/wincon/rain.exe
/vs/libpdcurses/wincon/ptest.exe
/vs/libpdcurses/wincon/pdcurses.lib
/vs/libpdcurses/wincon/ozdemo.exe
/vs/libpdcurses/wincon/firework.exe
/vs/libpdcurses/wincon/xmas.exe
/vs/libpdcurses/wincon/worm.exe
/vs/libpdcurses/wincon/tuidemo.exe
/vs/libpdcurses/wincon/testcurs.exe
/vs/libpdcurses/wincon/rain.exe
/vs/libpdcurses/wincon/ptest.exe
/vs/libpdcurses/wincon/pdcurses.lib
/vs/libpdcurses/wincon/ozdemo.exe
/vs/libpdcurses/wincon/firework.exe
/vs/libpdcurses/wincon/xmas.exe
/vs/libpdcurses/wincon/worm.exe
/vs/libpdcurses/wincon/tuidemo.exe
/vs/libpdcurses/wincon/testcurs.exe
/vs/libpdcurses/wincon/rain.exe
/vs/libpdcurses/wincon/ptest.exe
/vs/libpdcurses/wincon/pdcurses.lib
/vs/libpdcurses/wincon/ozdemo.exe
/vs/libpdcurses/wincon/firework.exe
.vscode/settings.json
vs/freetype/objs

# Ignore mach-o-matic
/src/tool/mach-o-matic

# Ignore flatpak stuff
.flatpak-builder/
build-flatpak/
myrepo/

# Ignore sdlnet churn
vs/sdlnet/Makefile.in
vs/sdlnet/aclocal.m4
vs/sdlnet/configure
vs/sdlnet/compile
vs/sdlnet/linux-build/
vs/sdlnet/linux-host/

# Ignore autogenerated
contrib/macos/dosbox-x.plist
.dirstamp

# ignore default dosbox config files (used for manual testing)
/dosbox-x.conf
/src/dosbox-x.conf
