[Desktop Entry]
Name=DOSBox-X
Comment=An enhanced x86/DOS emulator with sound/graphics
Exec=dosbox-x
Icon=dosbox-x.png
Terminal=false
Type=Application
Categories=System;Emulator;
