<footer class="inner">
    <p class="copyright">DOSBox-X homepage URL: <a href="https://dosbox-x.com">https://dosbox-x.com</a> (or <a href="http://dosbox-x.software">http://dosbox-x.software</a>)</p>
    <p>DOSBox-X project maintained by <a href="https://github.com/joncampbell123">joncampbell123</a> (Jonathan Campbell)</p>
    <p>Website designed by <a href="https://github.com/Wengier">Wengier</a> (Wengier Wu), published with <a href="http://pages.github.com">GitHub Pages</a></p>
    <p>Discord channel for the DOSBox-X project: <a href="https://discord.gg/5cnTmcsTpG">https://discord.gg/5cnTmcsTpG</a></p>
</footer>