{%- if page.blog or layout.blog -%}
    <p><a href="{{ '/' | relative_url }}">Return to main site</a></p>
{%- endif -%}

<p>Homepage URL: <a href="https://dosbox-x.com">dosbox-x.com</a>/<a href="http://dosbox-x.software">dosbox-x.software</a> | <a href="https://discord.gg/5cnTmcsTpG">Discord server</a></p>

<p>Project maintained by Jonathan Campbell (<a href="https://github.com/joncampbell123">@joncampbell123</a>) | Website designed by Wengier Wu (<a href="https://github.com/Wengier">@Wengier</a>) | Hosted by <a href="http://pages.github.com">GitHub Pages</a></p>