<table width="100%" style="border: hidden">
    <tr>
        <td width="25%" style="border: hidden; min-width: 300px; text-align: center">
            &nbsp;<p style="margin: 10px 0 15px 0;"/>&nbsp;<br/>
            <img id="dosbox-x-logo" src="{{ "/images/dosbox-x-logo.svg" | relative_url }}" title="DOSBox-X" alt="DOSBox-X logo" style="width: 90px" />
        </td>
        <td>
            &nbsp;<p style="margin: 10px 0 15px 0;"/>
            <h1 id="project_title">{{ site.title }}</h1>
            <h2 id="project_tagline">{{ site.tagline }}</h2>
        </td>
    </tr>
</table>
