autom4te*
config.cache
config.log
config.status
Makefile
libtool
.deps
.libs
*.so
*.so.*
*.dll
*.exe
*.lo
*.o
*.obj
*.res
*.lib
*.a
*.la
*.dSYM
*,e1f
*,ff8
*.lnk
*.err
*.exp
*.map
*.orig
*~
*.swp
*.tmp
*.rej
SDL2_net.pc
SDL2_net.spec
showinterfaces
chat
chatd
build
gen
Build
buildbot

# for CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
SDL2ConfigVersion.cmake
.ninja_*
*.ninja
sdl2_net-config-version.cmake
sdl2_net-config.cmake

# for CLion
.idea
cmake-build-*

# for Xcode
*.mode1*
*.perspective*
*.pbxuser
(^|/)build($|/)
.DS_Store
xcuserdata
*.xcworkspace

# for Visual C++
.vs
Debug
Release
*.user
*.ncb
*.suo
*.sdf

# for Android
android-project/local.properties

# for Debian package
debian/*.debhelper.log
debian/*.substvars
debian/*.tar.gz
debian/.debhelper/
debian/files
debian/libsdl*/
debian/tmp/
