<!DOCTYPE html>
<html lang="en">

<head>
    {%- include head_common.html -%}

    {%- unless layout.blog or page.blog -%}

    <meta name="description" content="{{ site.description }}">

    <title>
        {%- if page.layout == "release_notes" -%}
        {%- comment -%} FIXME: Hardcoding this because I don't know how to implement this otherwise {%- endcomment -%}
        DOSBox-X {{ page.slug }}{%- if page.version_secondary -%} ({{ page.version_secondary }}){%- endif -%} Release Notes - {{ site.title }}
        {%- elsif page.title -%}
        {{ page.title }} - {{ site.title }}
        {%- else -%}
        {{ site.title_verbose }}
        {%- endif -%}
    </title>

    {%- else -%}

    <meta name="description" content="{{ site.blog.description }}">

    <title>
        {%- if page.title -%}
        {{ page.title }} - {{ site.blog.title }}
        {%- else -%}
        {{ site.blog.title }}
        {%- endif -%}
    </title>

    {%- endunless -%}
</head>

<body>
    {%- include header.html -%}

    <div class="main_content_wrap">
      {{ content }}
    </div>

    {%- include footer.html -%}
</body>

</html>