---
layout: default
---

{%- comment -%} This is pagination code {%- endcomment -%}
{%- for index in (0..site.release_notes.size) -%}
    {%- assign release = site.release_notes[index] -%}
    {%- if release.slug == page.slug -%}
        {%- assign index_1 = index | minus: 1 -%}
        {%- if index_1 >= 0 -%}
            {%- assign prev_post = site.release_notes[index_1] -%}
        {%- endif -%}
        {%- assign index_2 = index | plus: 1 -%}
        {%- if index_2 < site.release_notes.size -%}
            {%- assign next_post = site.release_notes[index_2] -%}
        {%- endif -%}
        {% break %}
    {%- endif -%}
{%- endfor -%}

{%- capture version_text %}{{ page.slug | escape }}{% if page.version_secondary %} ({{ page.version_secondary }}){% endif %}{% endcapture -%}
<div style="text-align: center">
    <h3 style="padding-top: 10px">DOSBox-X {{ version_text }} Release Notes</h3>
    <h4 style="padding-bottom: 15px; font-weight: normal">
        Release Date: <span style="color: green">{{ page.date | date: site.release_date_format }}</span>
    </h4>

    <p>Please report any issues in our <a href="https://github.com/joncampbell123/dosbox-x/issues">issue tracker</a>.</p>
    <p>Also, make sure to check out our <a href="{{ "wiki" | relative_url }}">Wiki guide</a>.</p>

    <h4>New in This Version</h4>

    <table width="100%" style="border: hidden">

        <tr>
            <td width="20%" style="border: hidden"></td>
            <td width="60%" style="border: hidden; text-align: left">
                {{ content }}
            </td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td style="border: hidden">
                <table width="100%" style="text-align: center; font-weight: bold">
                    <tr>
                        <td width="50%">
                            Previous release: {{ prev_post.slug | default: site.last_version }}
                            ({% if prev_post %}<a href="{{ prev_post.url | relative_url }}">release notes</a>{% else %}release notes{% endif %})
                        </td>
                        <td width="50%">
                            {%- if next_post -%}
                            Next release: {{ next_post.slug }}
                            (<a href="{{ next_post.url | relative_url }}">release notes</a>)
                            {%- endif -%}
                        </td>
                    </tr>
                </table>
            </td>
            <td style="border: hidden"></td>
        </tr>

        <tr>
            <td style="border: hidden"></td>
            <td style="border: hidden; text-align: center">
                Return to <a href="{{ "/" | relative_url }}">main page</a>
            </td>
            <td style="border: hidden"></td>
        </tr>
    </table>
</div>
</div>
